body{
    background-image:url(./images/bg_faq.png);
}
.logo{
    width: 20%;
    display: inline-block;
}
footer{
    background-color: rgb(17, 15, 8) ;
    margin-top: 30px;
    padding: 0%;
    margin: 0;
    display: grid;
    grid-template-columns: 0.75fr 0.25fr 0.25fr 0.25fr 0.25fr;
    grid-template-rows: 1fr 1fr;
}
.foot{
    color: aliceblue;
    padding-top: 80px;
   padding-bottom: 150px;
   padding-left: 100px;
   grid-row: span 2;
}
.email{
    grid-column: span 2;
    display: flex; 
    justify-content: center;
    align-items: center;

}
.mail{
    float: left;
    margin: 20px;
}

h4{
    color: aliceblue;
}
.pho{
    float: left;
    margin: 20px;
}
.ph{

    grid-column: span 2;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.w{
    margin-top: 20px;
}
.x{
    color: rgb(163, 170, 176);
}
.bi{
    margin: 0;
}
.rest{
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 20%; 
    grid-column: span 3;
}

.cont{
    background-color: aliceblue;

    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 3%;
    border-radius: 1.5%;

}
h2{
    padding: 20px;
    text-decoration: underline;
}
.container{
    font-size: 1.25rem;
    font-weight: bold  ;
}
.nav-link{
    padding: 20px;
}

.faq-section {
    
    margin: 0 auto;
}
.faq-item {
    margin-bottom: 10px;
    
}
.faq-question {
    width: 85%;
    margin-left: 90px;
    height: 55px;
    font-size: 23px;
    background-color:aliceblue;
    padding: 10px;
    border: 1px solid gray;
    cursor: pointer;
    font-weight: bold;
    position: relative;
}
.faq-question:hover {
    background-color: rgb(209, 216, 223);
}
.faq-answer {
    width: 85%;
    margin-left: 90px;
    margin-right: 90px;
    display: none;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ddd;
    border-top: none;
    background-color: white;
}
.faq-question::after {
    content: "+";
    position: absolute;
    right: 20px;
    font-size: 18px;
}
.faq-question.active::after {
    content: "-";
}